body {
  font-family: 'acumin-pro';
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 36px;
  margin: 12px 0;
  text-align: center;
  color: #2E2E2E;
}

img {
	display: block;
  max-width: 100%;
  max-height: 320px;
  margin: 0 auto;
}

ul {
  margin: 24px;
  padding: 0;
  list-style: none;
}

li {
	margin: 12px 0;
}

.button {
  display: block;

  font-size: 24px;
  padding: 16px;

  text-align: center;

  border-radius: 4px;

  color: #ffffff;
  background-color: #4A90E2;
  text-decoration: none;
}

@media (min-width: 960px) {
	footer {
		padding: 24px;
	}

	ul {
		max-width: 1024px;
		margin: 48px auto;
	}

	li {
		display: inline-block;
		width: calc(33% - 12px);
		margin: 6px;
	}

	.button {
		font-size: 28px;
	}
}
